@keyframes piscante{
    0%, 32% {
        color: black;
    }
    33%, 66% {
        color: blue;
    }
    67%, 100% {
        color: black;
    }
}

body{
    background-image: url(../../../globalAssets/minecraft.png);
}
header{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 14vh;
}
header a{
    text-decoration: none;
    animation: piscante 3s linear infinite;
}

main{
    text-align: justify;
    background-color: white;
}
main h1{
    text-align: center;
}
main p{
    margin: 0.3vw 0.5vw 0 0.5vw;
}
main img{
    width: 99%;
    margin-top: 1vw;
}