@font-face {
    font-family: "minecraft";
    src: url(globalAssets/fontes/1_MinecraftRegular1.otf);
}
body{
    background-image: url(globalAssets/terra.jpeg);
}
header {
    margin: 0px 2vw auto 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkslategray;
    font-family: "minecraft";
}
header div#boas {
    font-size: 3rem;
    color: white;
}
header div#qmsomos {
    font-size:1.5rem;
    color: white;
    margin-top: 1vw;
 
}
header div#assuntos {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    cursor: pointer;
}
header div#assuntos a{
    color: black;
    font-style: normal;
    text-decoration: none;
}
header div#assuntos :is(div.lquiz, div.lwiki) {
    border: 1px solid black;
    background-color: dodgerblue;
    height: 1.25rem;
}
header div#assuntos :is(div.lquiz, div.lwiki):hover {
    background-color: aqua; 
}
header div#assuntos :is(div.lquiz, div.lwiki):hover a{
    color: blue;
}
main {
    position: relative;
    margin: 1vw 2vw auto 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightcyan;
    padding-bottom: 0.15vw;
}
main img{
    width: 70%;
}
main div.sobre {
    font-size:1.4rem;
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    margin: auto 0.8vw auto 0.8vw;
}
main span.risco{
    text-decoration: line-through;
}
main span.pqno{
    font-size: 0.4rem;
    color: lightgray;
}