@font-face {
    font-family: "minecraft";
    src: url(globalAssets/fontes/1_MinecraftRegular1.otf);
}
body{
    background-image: url(globalAssets/terra.jpeg);
    display: flex;
    flex-direction: column;
}
header {
    margin: 12vh 2vw auto 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkslategray;
    font-family: "minecraft";
}
#WikiList{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 104vh;
    display: grid;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#WikiList .window button{
    position: absolute;
    justify-self: right;
    right: 1.25vmin;
    appearance: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 1.5%;
    z-index: 3;
    width: 5vmin;
}
#WikiList .window button:hover{
    cursor: pointer;
    background-color: rgb(255, 64, 64);
}
#WikiList.active{
    visibility: visible;
    opacity: 1;
}
#WikiList .window{
    position: absolute;
    display: grid;
    place-self: center;
    opacity: 1;
    height: 85vmin;
    width: 73vmin;
    background-color: rgba(29, 144, 207, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#WikiList .window iframe{
    height: 80vmin;
    width: 70vmin;
    margin-top: 1vmin;
    place-self: center;
}

header div#boas {
    font-size: max(2rem, 3vw);
    color: white;
}
header div#qmsomos {
    font-size: max(1.25rem, 1.5vw);
    color: white;
    margin-top: 1vw;
 
}
header div#assuntos {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    cursor: pointer;
}
header div#assuntos :is(div.lquiz, div.lwiki) {
    border: 1px solid black;
    background-color: dodgerblue;
    height: 1.25rem;
}
header div#assuntos :is(div.lquiz, div.lwiki):hover {
    background-color: aqua; 
    color: blue;
}
main {
    margin: 2vh 1vw auto 1vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightcyan;
    padding-bottom: 0.15vw;
    font-size: max(1rem, 1.5vw);
}
main iframe{
    width: 100%;
    height: 80vh;
}
main div.sobre {
    font-size:1.4rem;
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    margin: auto 0.8vw auto 0.8vw;
}
main span.risco{
    text-decoration: line-through;
}
main span.pqno{
    font-size: 0.4rem;
    color: lightgray;
}