@font-face {
    font-family: "minecraft";
    src: url(fontes/1_MinecraftRegular1.otf);
}
:root{
    --Col: 1; /* é alterado pelo js */
    --Row: 3;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#popup{
    position: fixed;
    top: 30vmin;
    display: grid;
    place-self: center;
    z-index: 2;
    width: 40vmin;
    height: 20vmin;
    background-color: rgba(29, 144, 207, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1.5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 7;
}
#popup.aberto{
    visibility: visible;
    opacity: 1;
}
#popup>button{
    z-index: 3;
    position: absolute;
    justify-self: right;
    right:0.75vmin;
    align-self: self-start;
    width: 5vmin;
    height: 2vmin;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.5);
    background-image: url(../globalAssets/Aero_X.png);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
}
#popup>button:hover{
    cursor: pointer;
    background-color: rgb(255, 64, 64);
    box-shadow: 0 0 10px 5px #f54040;
}
#popup img{
    width: 10vmin;
    display: inline-block;
    margin-top: 0.4vh;
}

#popup #gameOver, #popup #parabens, #popup #comeco{
    position: absolute;
    background-color: white;
    width: 38vmin;
    height: 16vmin;
    margin-top: 2vmin;
    place-self: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup #gameOver.aberto, #popup #parabens.aberto, #popup #comeco.aberto{
    visibility: visible;
    opacity: 1;
}
#popup #gameOver .texto, #popup #parabens .texto, #popup #comeco .texto{
    display: flex;
    text-align: center;
    align-items: center;
}
#popup #gameOver .texto>p, #popup #parabens .texto>p, #popup #comeco .texto>p,
#popup #gameOver .texto>h1, #popup #parabens .texto>h1, #popup #comeco .texto>h1{
    margin-left: auto;
    margin-right: auto;
}
#popup #gameOver button, #popup #parabens button, #popup #comeco button{
    float: right;
    margin: auto 1vmin 1vmin auto;
    background-image: url(../globalAssets/aero_button.png);
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 23px;
    width: 5.4rem;
    cursor: pointer;
}
#popup #gameOver button:hover, #popup #parabens button:hover, #popup #comeco button:hover{
    background-image: url(../globalAssets/aero_button_hover.png);
}
#popup #gameOver button:active, #popup #parabens button:active, #popup #comeco button:active{
    background-image: url(../globalAssets/aero_button_click.png);
}

#fastback{
    position: fixed;
    display: grid;
    place-items: center;
    place-self: center;
    height: 30vh;
    width: 50vw;
    top: 20vh;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}
#fastback:is(.acerto, .erro){
    visibility: visible;
    opacity: 1;
}
#fastback.acerto{
    background-color: green;
}
#fastback.erro{
    background-color: red;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(2vw, 1rem);
    margin-top: 14vh;
}
main #questao{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

main #quiz{
    background-color: antiquewhite;
    place-items: center;
}
main :is(#NP, #pergunta){
    display: inline-block;
}
main #pergunta{
    flex-wrap: wrap;
    max-width: 80vw;
}
main #pergunta #R{
    display: inline-block;
}
main #NP{
    font-family: "minecraft";
    background-color: black;
    color: white;
    padding: 0.3vw;
    margin-top: 0;
}
main #alternativas{
    display: grid;
    grid-template-columns: repeat(var(--Col), 1fr);
    grid-template-rows: repeat(var(--Row), 1fr);
    grid-gap: 0.5vw;
    padding: 0.5vw;
}
main #estatistica{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
main #totalErros{
    background-color: red;
    text-align: center;
}
main #pontos{
    background-color: lawngreen;
    text-align: center;
}
main #Hard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
main #crono{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
}
main #botao{
    position: relative;
    background-color: lightgray;
    height: 1.5vw;
    width: 4vw;
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    border-radius: 20%;
}
main #botao input{
    position: absolute;
    appearance: none;
    background-color: gray;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    right: 50%;
    transition: 1s;
}
main #botao input:checked{
    transform: translateX(2.5vw);
    background-color: dodgerblue;
}