body{
    background-image: url(../../../../globalAssets/note_block.png);
}
header {
    margin: 12vh 1vw 0 1vw;
    padding: 0.1vw;
    background-color: rgba(168, 143, 166, 50%);
    text-align: center;
    font-size: 1.5rem;
}
main{
    background-color: white;
    text-align: justify;
}
main div.texto{
    text-align: justify;
    margin: 0 0.5vw 0 0.5vw;
    font-size: 1.25rem;
}
main h1{
    text-align: center;
}
main div.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.5vw;
}
main img{
    width: 100%;
}
