@font-face {
    font-family: "minecraft";
    src: url(fontes/1_MinecraftRegular1.otf);
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    background-color: rgba(168, 143, 166, 50%);
    font-size: 2rem;
    font-family: "minecraft";
}
main>ul {
    list-style: none;
}
.topico{
    font-size: 1.5em;
}