@font-face {
    font-family: "minecraft";
    src: url(fontes/1_MinecraftRegular1.otf);
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
div#espacador{
    height: 6vw;
}
.titulo{
    text-align: center;
    font-size: 4rem;
}
.subtitulo{
    text-align: center;
    font-size: 2rem;
}
.texto{
    text-align: justify;
    font-size: 1rem;
}
nav {
    position: fixed;
    display: flex;
    background-color: lightgray;
    width: 99vw;
    padding: 0;
    border: 0;
    z-index: 2;
    transform: translate3d(-0.5rem, -0.515rem, 0);
}
nav ul, nav li{
    list-style: none;
    font-size: 1.2rem;
    padding: 0.2vw;
    margin-left: 0.5vw;
    cursor: pointer;

}
nav>ul {
    background-color: lightgray;
    border-radius: 10%;
}
nav>ul>li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    left: 0;
    transition: 0.3s;
}

nav ul:hover>li ul {
    visibility: visible;
    opacity: 1;

}
nav ul>li>ul>li:hover  {
    background-color: gray;
}
nav ul>li>ul>li:hover a, #aleatorio:hover{
    color: blue;
}
nav ul li ul li a, #aleatorio{
    text-decoration: none;
    color: black;
}
nav #navLogo{
    width: 20vw;
    margin-right: 0;
    margin-left: auto;
    margin-right: 1%;
}
header{
    font-family: "minecraft";
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2vw;
    background-color: darkslategray;
    text-align: justify;
    list-style: none;
    color: white;
}
footer div{
    margin-left: 0.3vw;
}
footer div ul{
    list-style: none;
    display: inline-block;
}
footer div ul li a{
    color: white;
    text-decoration: none;
}
footer div ul li:hover a{
    color: orangered;
}
.tituloFooter{
    font-size: 1.5rem;
    text-align: center;
}
